* {
  margin: 0; /* zera a margem externa dos elementos  */
  padding: 0; /*Zerar a margem interna dos elementos*/
}

header {
  /* vamos adicionar uma imagem de fundo ao cabeçalho */
  background-image: url("../img/fundo5.jpg");
  background-position: 0px -400px;
  height: 300px;
  transition: ease 6s;
}

h1 {
  color: rgb(2, 65, 11);
  text-align: center;
  font-family: "PT Serif"; /* fonte da letra */
  font-size: 46pt; /*tamano da fonte */
  padding-top: 100px;
  text-shadow: 5px 5px 10px rgb(243, 247, 13);
}
/* Vamos formatar os elementos de li para ficar 
um ao lado do outro com o comando display */
nav ul li {
  /* Dispor os links um ao lado do outro  */
  display: inline-block;
  /*border: 1px solid red;*/
  margin-left: 10px;
  margin-right: 10px;
}
/* Alinha os elementos de link ao centro usado 
text-alingn:center no nav, assim tudo que estiver
dentro do nav irá para o centro */

nav {
  text-align: center;
  margin-top: 80px;
  /* A cor utilizada para o fundo da nav foi o rgba, que 
  significa red green blue e alpha(transparência), onde 
   o valor mais proximo do 0(zero) é totalmente solido. Neste caso
   estamos usando 80% de solidez, ou seja, aplicamos 
   20% de transparêcia */
  background-color: rgba(128, 24, 24, 0.9);
  padding-top: 10px;
  padding-bottom: 9pt;
}

nav ul li a {
  color: rgb(4, 44, 56);
  /* Para retira o sublinado(underline) dos links
    utilizaremos o comando text-decoraion com o valor
    none(nenhum) */
  text-decoration: none;
  font-family: "Lobster";
  /* Aplicação de negrito a letra */
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
  /*color: rgb(179, 157, 157);
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(13, 161, 247);*/
}

/* Criação da formatação do rodapé (footer) */

footer {
  background-color: rgb(39, 39, 26);
  text-align: center;
  color: rgb(241, 241, 46);
  font-family: "Lobster";
  padding-top: 20px;
  font-weight: "PT Serif";
}

div ul li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

div a {
  color: rgb(7, 113, 128);
  text-decoration: none;
}

main {
  /* Vamos aplicar uma margem interna de 30px utilizamos o comando padding */

  padding: 30px;
}

h2 {
  font-family: "Alfa Slab One";
  color: rgba(134, 3, 3);
  font-size: 26px;
  border-bottom: 8px double rgb(248, 248, 38);
  padding-left: 100px; /*pidding-left empura oque tem dentro da caixa*/
  margin-left: 25px; /* margin-left empura toda a caixa*/
  margin-bottom: 45px;
}

h3 {
  font-family: Lobster;
  margin-left: 70px;
  font-size: 26pt;
  margin-bottom: 30px;
  letter-spacing: 3px;
}

p {
  padding-left: 70px;
  padding-right: 70px;
  text-align: justify;

  /* Aplicaremos uma comando que aumenta a altura sa linha. Esse efeito
  simula o espaçamento entre linhas encontrado no word. O comando é linha-height -> linha height */

  line-height: 30px;
  margin-bottom: 26px;
  font-family: "PT Serif";
  font-size: 15pt;
}

#home {
  /*  */
  text-align: center;
}

#home img {
  height: 450px;
  width: 450px;
  margin: 10px;

  /* Vamos aplicar um efeito de transparência com a comando opacity.  Onde os valores 1
  é totalmente visivel e 0 é totalmente transparente   */

  opacity: 0.5;
  border-radius: 15%;
  transition: ease 2s; /* aplica efeito da imagem*/
}

#home img:hover {
  /* Aplicar eefeito quando passa o mauser em sima da imagem*/
  opacity: 1;
  transform: scale(1.2);
  cursor: pointer;
  /*transform: rotate(360deg);*/
  transform: rotate(360deg);
}

#acafeteria {
  text-align: center;
}
#acabeteria img {
  width: 500px;
  height: 400px;
}
#video {
  text-align: center;
}

/* Abaixo a formatação para a página cardápio */
#contanier,
#linha,
#imagem,
#texto {
  /* border: 1px solid red; */
}

#contanier {
  display: inline-block;
}

#linha {
  display: table;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
#imagem img {
  width: 200px;
  height: 200px;
}
#imagem {
  width: 200px;
  height: 200px;

  /*fazer a imagem frutuar*/
  float: left;
}

#texto {
  padding: 20px;
  width: 70%;
  float: left;
}
